.contacto {
  background-color: #13171c;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  min-height: 50vh;
}

@media (min-width: 1024px) {
  .contacto {
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
  }
}

@media (min-width: 1024px) {
  .contacto__nombre_email {
    display: flex;
    gap: 20px;
  }
}

.contacto__title {
  font-size: 42px;
}

@media (min-width: 1024px) {
  .contacto__title {
    font-size: 64px;
  }
}

.contacto__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contacto__label {
  padding: 5px;
}

.contacto__input {
  background-color: rgba(57, 62, 70, 0.5); /* 0.5 es el 50% de opacidad */
  font-size: 18px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.contacto__nombre,
.contacto__email {
  min-width: 313px;
  min-height: 59px;
}

@media (min-width: 1024px) {
  .contacto__nombre,
  .contacto__email {
    min-width: 288px;
    min-height: 59px;
  }
}

.contacto__mensaje {
  min-width: 313px;
  min-height: 280px;
  resize: none;
}

@media (min-width: 1024px) {
  .contacto__mensaje {
    min-width: 600px;
    min-height: 280px;
    resize: none;
  }
}

.contacto__submit-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  background-color: #00adb5;
  border-radius: 24px;
  min-width: 312px;
  min-height: 55px;
}

@media (min-width: 1024px) {
  .contacto__submit-cont {
    max-width: 231px;
    min-height: 55px;
  }
}

.contacto__submit-button {
  min-height: 55px;
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.contacto__avion,
.contacto__submit-button {
  color: black;
}
