.header__ventana {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: #000000;
}

@media (max-width: 1024px) {
  .navbar-burger {
    display: flex;
    align-items: right;
    height: 114px;
  }
}

.ventana__contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 42px;
}

.navbar-brand,
.navbar-menu,
.header {
  background-color: #13171c;
  height: 114px;
}

@media (min-width: 1024px) {
  .navbar-brand,
  .navbar-menu,
  .header {
    height: 121px;
  }
}

.navbar-item:hover {
  display: flex;
  align-items: center;
  height: 105px;
  background-color: gray;
}

.navbar-item__img{
  min-height: 50px;
}

.navbar-end{
  font-size: 25px;
}
