body {
  margin: 0;
}

.services-container,
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/doodle-items.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  min-height: 100vh;
  background-color: #13171c;
}

@media (min-width: 1024px) {
  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding-top: 3%;
    padding-bottom: 5%;
    gap: 20px;
  }
}

.portfolio-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 42px;
}

@media (min-width: 1024px) {
  .portfolio-description {
    flex-direction: row;
    gap: 10px;
    font-size: 64px;
  }
}


@media (min-width: 1024px) {
  .portfolio-card__texto {
    display: flex;
    flex-direction: column;
    font-size: 80px;
  }
}

.portfolio-card__maletin {
  max-width: 219px;
}

@media (min-width: 1024px) {
  .portfolio-card__maletin {
    max-width: 292px;
  }
}

.portfolio-card__description1 {
  color: aliceblue;

}

.portfolio-card__description2 {
  color: #00adb5;
}
